*{
    margin: 0px ;
    padding: 0px ;
}
 
    background-image: url("https://www.pexels.com/photo/people-throwing-blue-powder-at-daytime-1157557/");
 
/* topline */
.counsellorno{
    background-color: #007bff;
    text-align: center;
    position: sticky;
    top: 1px ;

}
.counsellor{
    color: white;
    font-size: 20px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px ;
    padding: 15px 0px  ;
}
 /*navigation*/
.navigation-menu{
    display: flex;
    justify-content: space-around;
    margin: 24px 0px ;
     
   
}
.navigationbar{
    display: flex;
    
}
.unorderlist{
    display: flex;
     
}
.logochetna{
     border: 1px solid black;
     border-radius: 150px ;
    
}
.logochetna img{
     height: 70px ;
     width: 91px ;
     border-radius: 150px ;
}
.login button{
    margin: 15px   ;
    font-family: Arial, Helvetica, sans-serif;
     
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    height: 30px;
    width: 150px;
   
}
.nav{
    margin: 2px 15px  ;
}
.slides{
    height: 600px ;
}
/* aboutcghetna  */
.aboutclass{
    display: flex;
    justify-content: space-around;
 
}
.Mainaboutbox{
    /* border: 2px solid red; */
    background-color:rgb(255, 110, 134);
    border-radius:110px;
    width: 400px ;
    text-align: center;
    margin: 2px 2px ;
    padding: 55px 2px ;
      margin-right: 15px ;
     
}
.mainheading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px ;
    font-weight: bold;
    margin-top: 10px ;
    
}
.Mainaboutbox p{ font-family: 'Times New Roman', Times, serif;
    font-size: 30px ;
}
.aboutchetnaclass{
  
    margin: 50px 2px ;
}
.aboutchetnaclass h1{ 
     
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px ;
}
 
.aboutchetnaclass p{ 
     
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px ;
}
 .cards{
    margin-left: 100px ;
    margin-right: 100px ;
 }
 .cardsChetna{
    display: grid ;
    justify-content: center;
    gap: 65px ;
 
 
    
 }
 .box{
    /* border: 2px solid red ; */
    border-radius: 15px ;
    height: 300px ;
    width: 800px ;
    display: grid;
    grid-template-columns: 350px ;
    grid-template-rows: 300px ;
    text-align: center;
    
    
 }
 .insidebox1{
    /* border: 2px solid red ; */
    grid-area: 1/2/1/2;
    border-radius: 15px ;
    margin-left: 2px ;
    
 }
 .insidebox1 img{
    height: 295px;
    width: 395px;
     padding: 2px ;
 }
 .insidebox1 h1{color: rgb(255, 110, 134);

    font-size: 34px ;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

 }
 .insidebox1 p{
    font-size: 28px ;
    font-family: 'Times New Roman', Times, serif;
 }
 .insidebox2{
    /* border: 2px solid rgb(59, 224, 128) ; */
    border-radius: 15px ;
    margin-right: 2px ;
    padding: 2px ;
 }
 .insidebox2 img{
    height: 295px;
    width: 395px;
    padding: 2px ;
}
.insidebox2 h1{color: rgb(255, 110, 134);
    font-size: 34px ;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
}
.insidebox1 p{
    font-size: 28px ;
    font-family: 'Times New Roman', Times, serif;
}
.chetnaisanemotion h1{
    color: black;
    font-size: 40px ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* .chetnaisanemotion{background-image: url(https://images.pexels.com/photos/1157557/pexels-photo-1157557.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    text-align: center;
    text-align: center;
  
}
  */
 
 